server:
  port: 8081
  tomcat:
    max-threads: 500
    max-connections: 20000
    accept-count: 1000
#    connection-timeout: 30000  # 30ì´ˆ
management:
  tracing:
    sampling:
      probability: 1.0
    enabled: true
  otlp:
    tracing:
      endpoint: http://localhost:4317
      protocol: grpc
otel:
  service:
    name: ${spring.application.name}
  exporter:
    otlp:
      endpoint: http://localhost:4317
logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
spring:
  application:
    name: category
  h2:
    console:
      enabled: true
  datasource:
    driver-class-name: io.opentelemetry.instrumentation.jdbc.OpenTelemetryDriver
    url: jdbc:otel:mysql://category.cluster-ct0gsiiwy4xd.ap-northeast-2.rds.amazonaws.com:3306/category
    username: admin
    password: qudtjf12?!
    hikari:
      maximum-pool-size: 100
      minimum-idle: 10
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: false
#spring:
#  application:
#    name: category
#  h2:
#    console:
#      enabled: true
#  datasource:
#    driver-class-name: io.opentelemetry.instrumentation.jdbc.OpenTelemetryDriver
#    url: jdbc:otel:mysql://localhost:3306/test
#    username: test
#    password: test
#    hikari:
#      maximum-pool-size: 100
#      minimum-idle: 10
#      connection-timeout: 30000
#      idle-timeout: 600000
#      max-lifetime: 1800000
#  jpa:
#    defer-datasource-initialization: true
#    open-in-view: false
#    properties:
#      hibernate:
#        format_sql: false